@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #dee0e3;
}

.App, .canvas{
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height:100vh;
    z-index: -1;
}

.wobbling-8{
    width:20px;
    height:20px;
    border-radius:50%;
    position: relative;
    transform-origin:50% -200%;
    background:radial-gradient(at 30% 30%,#0000,#000a) red;
    animation: w8 1s cubic-bezier(.5,-200,.5,200) infinite;
  }
  .wobbling-8:before {
    content: "";
    position: absolute;
    inset:-200% 8px 100%;
    background:black; 
  }
  @keyframes w8 { 
      100% { transform:rotate(1deg)} 
  }