@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #dee0e3;
}

.App, .canvas{
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height:100vh;
    z-index: -1;
}


.wobbling-8 {
    width: 40px;
    height: 40px;
    color:#f03355;
    position: relative;
    background: radial-gradient(10px,currentColor 94%,#0000);
}
.wobbling-8:before {
    content:'';
    position: absolute;
    inset:0;
    border-radius: 50%;
    background:
      radial-gradient(9px at bottom right,#0000 94%,currentColor) top    left,
      radial-gradient(9px at bottom left ,#0000 94%,currentColor) top    right,
      radial-gradient(9px at top    right,#0000 94%,currentColor) bottom left,
      radial-gradient(9px at top    left ,#0000 94%,currentColor) bottom right;
    background-size:20px 20px;
    background-repeat: no-repeat;
    animation: sp8 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes sp8 {
    33%  {inset:-10px;transform: rotate(0deg)}
    66%  {inset:-10px;transform: rotate(90deg)}
    100% {inset:0    ;transform: rotate(90deg)}
}